@use "../common/variables" as v;

.aboutUs {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	background-color: rgba(var(--keyBackground));
	padding: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;

	.titImg {
		width: 49%;
		height: 35vh;
		margin: 0px 5px;
	}

	.subImg {
		width: 49%;
		height: 35vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.modal1,
		.modal2,
		.modal3,
		.modal4 {
			width: 47%;
			margin: 5px;
			border-top: 1px solid rgba(var(--keyMorning));
			border-bottom: 1px solid rgba(var(--keyMorning));
			position: relative;
			// word-break: break-all;
			p {
				font: 300 2.5rem v.$cinzel;
				position: absolute;
				left: 0;
				bottom: 0;
				color: rgba(var(--keyMorning));
			}
			&:hover {
				background: rgba(var(--keyMorning));
				p {
					color: rgba(var(--keyNight));
					border-bottom: 1px solid rgba(var(--keyNight));
				}
			}
		}
	}

	.footerImg {
		width: 100%;
		height: 20vh;
		margin-top: 50px;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;

		.title {
			width: 100%;
			font: 500 8vh/1.1 v.$cinzel;
			color: rgba(var(--keyMorning));
		}
		.subTitle {
			width: 60%;
			font: 1.9vh/1.3 v.$kohsantepheap;
			text-align: right;
			color: rgba(var(--keyMorning));
		}
	}
}

@media screen and (max-width: v.$tablet) {
	.aboutUs {
		justify-content: center;

		.subImg {
			width: 48.5%;

			.modal1,
			.modal2,
			.modal3,
			.modal4 {
				width: 100%;

				p {
					font-size: 2.7vmax;
				}
				&:hover {
					background: rgba(var(--keyMorning));
					p {
						font: 600 2.5vmax v.$cinzel;
					}
				}
			}
		}
		.footerImg {
			.title {
				font-size: 7vmax;
			}
			.subTitle {
				font: 1.6vh/1.4 v.$kohsantepheap;
			}
		}
	}
}

@media screen and (max-width: v.$mobile) {
	.aboutUs {
		.titImg {
			width: 100%;
			height: 25vh;
		}
		.subImg {
			width: 100%;
			height: 35vh;

			.modal1,
			.modal2,
			.modal3,
			.modal4 {
				width: 100%;
				margin-top: 20px;

				p {
					font: 300 2.1vmax v.$cinzel;
				}
				&:hover {
					p {
						font: 700 2.1vmax v.$cinzel;
					}
				}
			}
		}
		.footerImg {
			width: 100%;
			margin-top: 15px;

			.title {
				width: 100%;
				font: 500 5vh/1.1 v.$cinzel;
			}
			.subTitle {
				width: 100%;
				font: 1.2vh/1.4 v.$kohsantepheap;
				text-align: right;
				color: rgba(var(--keyMorning));
			}
		}
	}
}
