@use "../common/variables" as v;

.aboutUs {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: #efefef;
	padding: 100px 15vw 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;

	.titImg {
		width: 49%;
		height: 35vh;
		margin: 0px 5px;
	}

	.subImg {
		width: 49%;
		height: 35vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background: ivory;

		.modal1 {
			width: 48%;
			margin: 5px;
			background: #eee;
			&:hover {
				background: #ccc;
			}
		}
		.modal2 {
			width: 48%;
			margin: 5px;
			background: #eee;
			&:hover {
				background: #ccc;
			}
		}
		.modal3 {
			width: 48%;
			margin: 5px;
			background: #eee;
			&:hover {
				background: #ccc;
			}
		}
		.modal4 {
			width: 48%;
			margin: 5px;
			background: #eee;
			&:hover {
				background: #ccc;
			}
		}
	}

	.footerImg {
		width: 100%;
		height: 20vh;
		margin-top: 50px;
		p {
			font: 500 2rem/1.2 v.$orbitron;
		}
	}
}
@media screen and (max-width: v.$tablet) {
}

@media screen and (max-width: v.$mobile) {
}
