@use "../common/variables" as v;

.homeVisual {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	flex-direction: column;

	&.morning {
		background-image: url("/public/morning.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
		z-index: 1;
	}

	&.evening {
		background-image: url("/public/evening.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
		z-index: 1;
	}

	&.night {
		background-image: url("/public/night.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
		z-index: 1;
	}
	.clock {
		position: relative;
		font-family: v.$allura;
		font-size: 5rem;
		color: rgba(var(--keyNight));
		z-index: 2;
		display: flex;
		justify-content: center;

		em.on {
			color: rgba(var(--keyNight));
		}
	}

	// .homeBg {
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// 	position: absolute;
	// 	top: 0px;
	// 	left: 0px;
	// }

	.slogan {
		article {
			width: 100%;
			position: relative;
			z-index: 2;
			h2 {
				font: 500 5rem/1 v.$allura;
				color: rgba(var(--keyNight));
				margin-bottom: 5px;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: v.$tablet) {
}

@media screen and (max-width: v.$mobile) {
}
