@use "../common/variables" as v;
.mainScroll {
	display: block;
	height: 280px;
	position: fixed;
	left: 5%;
	top: 50%;
	z-index: 9;
	margin-top: -120px;

	.homeScroll {
		width: 150px;
		height: 280px;
		position: relative;

		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		&::before {
			content: "";
			display: block;
			background-color: #fff;
			opacity: 0.7;
			width: 2px;
			height: 200px;
			opacity: 1;

			&:hover {
				opacity: 1;
			}
		}

		&::after {
			content: "";
			display: block;
			clear: both;

			&:hover {
				opacity: 1;
			}
		}

		li {
			height: 40px;
			line-height: 40px;
			position: absolute;
			left: 5px;
			color: rgba(var(--keyNight));
			cursor: pointer;
			transition: 0.5s;
			opacity: 1;

			&.on {
				height: 100px;
				background: #000;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: v.$tablet) {
}

@media screen and (max-width: v.$mobile) {
}
