@use "../common/variables" as v;

.mainNavigator {
	height: 280px;
	display: block;
	position: fixed;
	left: 5%;
	top: 50%;
	z-index: 9;
	transform: translateY(-50%);

	.navigator {
		width: 150px;
		height: 280px;
		display: flex;
		flex-direction: column;
		position: relative;

		.divEl {
			width: 100%;
			height: 40px;
			line-height: 40px;
			position: absolute;
			left: 5px;
			transition: 0.5s linear;

			.bar {
				position: absolute;
				left: -5%;
				top: 0;
				width: 2px;
				height: 100%;
				background-color: rgba(var(--keyMorning)); /* 기본 바 색상 */
				transition: background-color 0.3s ease;
			}
			&.active .bar {
				width: 2px;
				background-color: rgba(var(--keyMorning)); /* 선택된 페이지의 바 색상 */
			}
			&:hover .bar {
				width: 3px;
			}

			span {
				color: rgba(var(--keyMorning));
				width: 100%;
				display: inline-block;
				font: 300 1rem v.$cinzel;
				transition: 0.3s linear;

				&:hover {
					opacity: 1 !important;
					font-weight: bold !important;
				}
			}
			&:hover {
				opacity: 1 !important;
				font-weight: bold !important;
			}
			&.active {
				span {
					opacity: 1 !important;
					font-weight: bold !important;
				}
			}
		}
	}
}

@media screen and (max-width: v.$tablet) {
}

@media screen and (max-width: v.$mobile) {
}
