//common
@use "common/footer";
@use "common/header";
@use "common/layout";
@use "common/mailForm";
@use "common/mobileMenu";
@use "common/modal";
@use "common/reset";
@use "common/variables";

//main
@use "main/aboutUs";
@use "main/home";
@use "main/homeScroll";
@use "main/homeVisual";
@use "main/locationScroll";
@use "main/offers";
@use "main/retailBusiness";

//sub
@use "sub/community";
@use "sub/contact";
@use "sub/gallery";
@use "sub/location";
@use "sub/youtube";
@use "sub/youtubeDetail";

:root {
	--keyRGB: 40, 40, 40;
	--keyNight: 255, 255, 255;
	--keyMorning: 40, 40, 40;
}
//rgba(var(--keyMorning), 0.5);
//rgba(40,40,40,0.5); 위에 입력시 이런식으로 표현됨

// .mask {
// 	background-color: rgba(var(--keyRGB), 1) !important;
// }
// .maskText {
// 	color: rgba(var(--keyRGB), 0.8) !important;
// }
// .test {
// 	color: rgb(0, 120, 250);
// 	color: rgb(255, 255, 255);
// }
