.fAQ {
	width: 600px;
	margin: 0 auto;

	.title {
		border-bottom: 1px solid #aaa;

		&::after {
			content: "";
			display: block;
			clear: both;
		}
		h2 {
			float: left;
			margin: 15px 0;
		}
	}
}
