@use "variables" as v;

.fAQ {
	width: 100%;
	margin: 100px auto;
	h2 {
		font: 100 2rem/1;
		color: #fff;
		margin-bottom: 20px;
	}
	.title {
		border-bottom: 1px solid #aaa;

		&::after {
			content: "";
			display: flex;
			clear: both;
		}
		h2 {
			float: left;
			margin: 15px 0;
		}
	}

	ul {
		.q {
			display: flex;
			border-bottom: 1px solid #ccc;
			padding: 8px 10px;
			color: #fff;
			font-weight: bold;
			font-size: 1.1rem;
		}
		.a {
			padding: 8px 10px;
			border-bottom: 1px solid #ccc;
			color: #afafaf;
			line-height: 1.6;
		}
	}
}

@media screen and (max-width: v.$tablet) {
}

@media screen and (max-width: v.$mobile) {
}
