@use "variables" as v;

.footer {
	width: 100%;
	padding: 140px 15vw;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-end;
	background-image: url("/커튼사진.jpg");
	background-size: cover;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(78, 78, 78, 0.5);
		z-index: 1;
	}

	h1 {
		display: flex;
		align-items: flex-end;
		font-family: v.$cinzel;
		letter-spacing: 5px;
		z-index: 2;
		margin-top: 20px;
	}

	section {
		display: flex;
		flex-wrap: wrap;
		z-index: 2;

		ul {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			gap: 30px;
			margin-bottom: 20px;
		}

		p {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}
	}
}

@media screen and (max-width: v.$tablet) {
	.footer {
		padding: 100px 10vw;
	}
}

@media screen and (max-width: v.$mobile) {
	.footer {
		padding: 80px 5vw;
	}
}
