@use "variables" as v;

.footer {
	width: 100%;
	padding: 140px 15vw;
	color: rgba(var(--keyMorning));
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	background-image: url("/커튼사진.jpg");
	background-size: cover;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(78, 78, 78, 0.5);
		z-index: 1;
	}

	h1 {
		display: flex;
		align-items: center;
		font-family: v.$cinzel;
		letter-spacing: 5px;
		z-index: 2;
		font: 600 1.6rem/1;
	}

	section {
		display: flex;
		flex-wrap: wrap;
		z-index: 2;
		gap: 80px;

		ul {
			width: 100%;
			display: flex;
			justify-content: right;
			gap: 30px;
			margin: 20px;
			font-size: 0.8rem;
		}

		p {
			width: 100%;
			justify-content: flex-start;
		}
	}
}

@media screen and (max-width: v.$tablet) {
	.footer {
		section {
			width: 100%;
			gap: 0px;

			ul {
				width: 100%;
				justify-content: flex-start;
				margin-bottom: 10px;
				margin-top: 50px;
			}
			p {
				width: 100%;
				justify-content: flex-start;
			}
		}
	}
}

@media screen and (max-width: v.$mobile) {
	.footer {
		padding: 80px 5vw;
	}
}
