@use "variables" as v;

.header {
	width: 100%;
	padding: 30px 15vw;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 3;

	.topUtil {
		// width: 100%;
		// background-color: rgb(52, 8, 8);
		// overflow: hidden;
		// position: relative;

		.btnDetailMenu {
			cursor: pointer;
			width: 30px;
			height: 24px;
			position: absolute;
			background: none;
			border-style: none;
			top: 35%;
			left: 5%;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			justify-content: center;
			// opacity: 0.7;

			> span {
				width: 100%;
				height: 2px;
				background-color: #fff;
				border-radius: 1px;
				transition: all 0.5s;
			}
		}
		.btnDetailMenu.active {
			> span {
				&.top {
					transform: translateY(11px) rotate(225deg);
				}

				&.middle {
					width: 0%;
				}

				&.bottom {
					transform: translateY(-11px) rotate(-225deg);
				}
			}
		}
	}

	h1 {
		width: 22%;
		font: 300 3rem/1 v.$alegreya;
		color: rgba(var(--keyNight));
		letter-spacing: 7px;
	}
	nav {
		width: 40vh;

		ul {
			display: flex;
			font: 600 1.2rem/1 v.$raleway;
			color: rgba(var(--keyNight));
		}

		.gnbL {
			gap: 90px;
		}

		.gnbR {
			gap: 60px;
		}
	}
}

/* 햄버거 메뉴 오버레이 스타일 */
.overlayMenu {
	position: fixed;
	top: -100%;
	width: 100%;
	height: 80%;
	background-color: rgb(18, 3, 3);
	transition: 0.3s 0.1s linear;
	display: flex;
	justify-content: center;
	align-items: center;

	&.open {
		transition: 0.5s 0.1s linear;
		z-index: 10;
		top: 10%;
	}

	nav {
		width: 80%;

		.subMenuList {
			display: flex;
			/* 큰 메뉴를 가로로 배치 */
			justify-content: space-around;
			width: 100%;

			.subMenu {
				h1 {
					color: white;
					font-size: 3rem;
					margin-bottom: 2rem;
					text-align: center;
				}

				ul {
					display: flex;
					/* 하위 메뉴를 세로로 배치 */
					flex-direction: column;
					align-items: center;

					li {
						color: rgb(194, 178, 178);
						font-size: 1.5rem;
						text-decoration: none;
						transition: color 0.3s;
						margin-bottom: 20px;

						&:hover {
							color: #f39c12;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: v.$tablet) {
}

@media screen and (max-width: v.$mobile) {
}
