@use "variables" as v;

.header {
	width: 100%;
	padding: 30px 10vw;
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 3;

	&.main {
		position: fixed;
	}
	// &.youtubeH { 유튜브 스크롤시 헤더 고정
	// 	width: 100%;
	// 	padding: 30px 10vw;
	// 	backdrop-filter: blur(10px);
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// 	position: fixed;
	// 	z-index: 3;
	// }

	.topUtil {
		.btnDetailMenu {
			cursor: pointer;
			width: 30px;
			height: 24px;
			position: absolute;
			background: none;
			border-style: none;
			top: 35%;
			left: 5%;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			justify-content: center;

			.top,
			.middle,
			.bottom {
				width: 100%;
				height: 2px;
				background-color: rgba(var(--keyMorning));
				border-radius: 1px;
				transition: 0.5s;
			}
		}

		.btnDetailMenu.active {
			.top {
				transform: translateY(11px) rotate(225deg);
			}

			.middle {
				width: 0%;
			}

			.bottom {
				transform: translateY(-11px) rotate(-225deg);
			}
		}
	}

	h1 {
		width: 100%;
		font: 300 3rem / 1 v.$cinzel;
		color: rgba(var(--keyMorning));
		letter-spacing: 7px;
		text-align: center;
	}

	nav {
		ul {
			display: flex;
			font: 600 1.2rem/1 v.$raleway;
			color: rgba(var(--keyMorning));
		}

		.sns {
			display: flex;
			font-size: 1rem;
			color: rgba(var(--keyMorning));
			gap: 10px;
		}
	}
}

@media screen and (max-width: v.$tablet) {
	.header {
		h1 {
			font: 200 3vmax v.$cinzel;
			padding-left: 100px;
		}
	}
}

@media screen and (max-width: v.$mobile) {
	.header {
		.topUtil {
			.btnDetailMenu {
				width: 20px;
				height: 18px;
			}

			.btnDetailMenu.active {
				.top {
					transform: translateY(8px) rotate(225deg);
				}

				.bottom {
					transform: translateY(-8px) rotate(-225deg);
				}
			}
		}

		h1 {
			font: 200 2.5vmax v.$cinzel;
			letter-spacing: 5px;
			padding: 0;
		}
		nav {
			display: none;
		}
	}
}
