@use "variables" as v;

.mailForm {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0px;

	.titImg {
		width: 50%;
	}
	.formBox {
		width: 48%;

		.mailMark {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			h2 {
				font: 100 2.2rem/1 v.$alegreya;
				color: rgba(var(--keyMorning));
			}

			.getImg {
				width: 45px;
				height: 45px;
				margin-left: 5px;
			}
		}
		label {
			display: block;
			font: 400 1.2rem/1 v.$alegreya;
			color: rgba(var(--keyMorning));
			margin-bottom: 10px;
		}
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		textarea {
			border: none;
			width: 100%;
			border-bottom: 1px solid #888;
			padding: 10px 5px;
			background: rgba(var(--keyMorning));
			resize: none;
			border-radius: 3px;

			//input 요소 안쪽의 placeholder 속성 텍스트 스타일링
			&::placeholder {
				color: #3b3b3b;
				font: 400 0.8rem/1.2 v.$raleway;
			}
		}

		.upper {
			width: 100%;
			margin-bottom: 20px;

			span {
				display: block;
				width: 100%;
				margin-bottom: 20px;

				input[type="text"],
				input[type="email"],
				input[type="tel"] {
					display: block;
				}
			}
		}
		.lower {
			width: 100%;
			margin-bottom: 10px;
		}

		.btnSet {
			display: flex;
			gap: 10px;

			input {
				cursor: pointer;
				border: none;
				border-radius: 5px;
				font-size: 1em;
				padding: 10px 20px;
				color: rgba(var(--keyMorning));
				background-color: orange;
				transition: background-color 0.3s;

				&:hover {
					background-color: rgb(179, 107, 0);
				}
			}
		}
	}
}

@media screen and (max-width: v.$tablet) {
	.mailForm {
		.titImg {
			width: 100%;
			.pic {
				:nth-last-child(1) {
					position: relative;
				}
			}
		}
		.formBox {
			width: 100%;

			.mailMark {
				margin: 20px 0px;
			}
		}
	}
}

@media screen and (max-width: v.$mobile) {
}
