$tablet: 999px;
$mobile: 599px;

$orbitron: "Orbitron", "sans-serif";
$raleway: "Raleway", "sans-serif";
$alegreya: "Alegreya", "serif";

$allura: "Allura", "cursive";
$cinzel: "Cinzel", "serif";
$roboto: "Roboto", "serif";

$kohsantepheap: "Koh Santepheap", "serif";
$sortsmillgoudy: "Sorts Mill Goudy", "serif";
$rokkitt: "Rokkitt", "serif";
$markazi: "Markazi", "serif";

$arial: "Arial", sans-serif;
