@use "../common/variables" as v;

.detailTable {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;

	th {
		color: white;
		font-size: 1.2em;
		padding: 10px;
		text-align: left;
	}

	td {
		padding: 10px;
		line-height: 1.6;
		font-size: 1em;
		color: #e0e0e0;
	}

	tr:nth-child(even) {
		background-color: rgba(var(--keyMorning), 0.1);
	}

	// 반응형 디자인
	@media screen and (max-width: v.$tablet) {
		th {
			font-size: 1.1em;
		}

		td {
			font-size: 0.9em;
		}
	}

	@media screen and (max-width: v.$mobile) {
		th {
			font-size: 1em;
		}

		td {
			font-size: 0.8em;
		}
	}
}

.buttonGroup {
	margin-top: 20px;

	button {
		background-color: orange;
		color: rgba(var(--keyMorning));
		border: none;
		border-radius: 5px;
		padding: 10px 20px;
		font-size: 1em;
		margin-right: 10px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgb(179, 107, 0);
		}

		// Link 스타일링
		a {
			color: rgba(var(--keyMorning));
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// 반응형 디자인
@media screen and (max-width: v.$tablet) {
	.buttonGroup {
		button {
			font-size: 0.9em;
			padding: 8px 16px;
		}
	}
}

@media screen and (max-width: v.$mobile) {
	.buttonGroup {
		button {
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
		}
	}
}
